<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/jquery.slim.min.js"></script>
    <script src="/static/js/fa-solid.min.js"></script>
    <script src="/static/js/fontawesome.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    {{/*<link rel="stylesheet" type="text/css" href="/static/css/app.bundle.css">*/}}

    {{block "js" .}} {{end}}
                
    <title>GoWSServe</title>
</head>
<body>
    <div class="container">
        <br/>
    {{if .Flash}}
        <div class="alert alert-danger" role="alert">{{.Flash}}</div>
    {{end}}

        <div class="d-flex justify-content-end">
            {{if .Auth}}
                <a class="nav-link" href="/logout" title="Logout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
            {{else}}
                <a class="nav-link" href="/signup" title="Sign Up">Create Account</a>
                <a class="nav-link" href="/" title="Sign Up">Login</a>
            {{end}}
        </div>

        {{template "content" .}}
    </div>
</body>
<footer>{{block "footer" .}} {{end}}</footer>
</html>